{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "~": "./pages",
                    "@components": "./pages/components",
                    "@styles": "./styles",
                    "@data": "./pages/data",
                    "@contexts": "./pages/contexts",
                    // "@data": "./pages/data",
                    // "@libs": "./pages/libs",
                    // "@server": "./pages/server"
                }
            }
        ]
    ]
}