{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "~": "./pages",
                    "@components": "./components",
                    "@styles": "./styles",
                    "@lib": "./lib",
                    "@layout": "./layout",
                    "@theme": "./theme",
                    "@contexts": "./contexts",
                    "@data": "./data",
                    // "@data": "./pages/data",
                    // "@libs": "./pages/libs",
                    // "@server": "./pages/server"
                }
            }
        ]
    ]
}